.span2{'ng-controller' => 'AlbumsCtrl'}
  %h3 Albums
  %ul.nav.nav-list
    %li.nav-header Albums
    %li{'ng-repeat' => "album in albums", 'ng-class' => "{'active':album.id == albumIdSelected}"}
      -# Edit Mode Off
      %a.span8{:href => "/user/{{album.user_id}}/album/{{album.id}}/photos", "ng-hide" => "album.editing"}
        {{album.name}}
      %ul.nav.span4{"ng-hide" => "album.editing"}
        %li
          %i.icon-pencil{"ng-click" => "editAlbum(album)"}
          %i.icon-trash{"ng-click" => "deleteAlbum(album)"}
      -# Edit Mode On
      %span{"ng-show" => "album.editing"}
        %input.span8{"ng-model" => "album.name", "ng-required" => "", :placeholder => "Album Name", :type => "text"}
        %i.icon-ok{"ng-click" => "updateAlbum(album)"}
    %li.divider
    %li.nav-header New
    %li
      %form.form-inline{"ng-submit" => "addAlbum()"}
        .input-append
          %input.span6{"ng-model" => "name", :type => "text", :placeholder => "New Album"}
          %button.btn{'ng-disabled' => "!name"} Add
    %li.divider
    %li.nav-header Upload
    %li
      %span.btn.fileinput-button{'ng-class' => "{'disabled': !albumIdSelected}"}
        %input{"data-url" => "dataUrl", :done => "uploadFinished(e, data)", 'fileupload' => "", :name => "files[]", :type => "file", 'disable-button' => "!albumIdSelected", :progress => "updateProgress(e, data)"}
        %span Add Photos...