.span2{'ng-controller' => 'AlbumsCtrl'}
  %h3 Albums
  %ul.nav.nav-list
    %li.nav-header Albums
    %li{'ng-repeat' => "album in albums", 'ng-class' => "{'active':album.id == albumIdSelected}"}
      %a{:href => "/user/{{album.user_id}}/album/{{album.id}}/photos"}
        {{album.name}}


    %li.nav-header New
    %li
      %form.form-inline{"ng-submit" => "addAlbum()"}
        .input-append
          %input.span6{"ng-model" => "name", :type => "text", :placeholder => "New Album"}
          %button.btn{'ng-disabled' => "!name"} Add

    %li.nav-header Upload
    %li
      %span.btn.fileinput-button{'ng-class' => "{'disabled': !albumIdSelected}"}
        %input{"data-url" => "dataUrl", :done => "uploadFinished(e, data)", 'fileupload' => "", :multiple => "", :name => "files[]", :type => "file", 'disable-button' => "!albumIdSelected"}
        %span Add Photos...