%h3 Photos from {{album.name}}

%ul.thumbnails
  %li.span2{'ng-repeat' => "photo in photos"}
    .thumbnail
      =image_tag('rails.png', :class => "thumbnail")
      %em {{photo.title}}

%a.btn{:href => "/users/{{album.user_id}}/albums"}
  Back
