.row-fluid
  %div{'ng-include' => "'" + asset_path('angular/templates/albums/_sidebar.html') + "'"}}

  .span10{"infinite-scroll" => "nextPage()", "infinite-scroll-disabled" => 'noscroll', "infinite-scroll-distance" => "0"}
    .row-fluid
      .span3
        %h3 Photos from {{album.name}}
      .span9.pull-right
        %button.btn{"ng-click" => "editMode=true", "ng-hide" => "editMode"} Edit
        %button.btn{"ng-click" => "editModeOff()", "ng-show" => "editMode"} Done

    %ul.thumbnails
      %li.span2{'ng-show' => "!photos.length"}
        You have no Photos in this Album
      %li.span2{'ng-repeat' => "photo in photos"}
        .thumbnail
          %img{'ng-src' => "{{photo.thumbnail_url}}", :class => "thumbnail"}
          -# Edit Mode Off
          %em{"ng-hide" => "editMode"} {{photo.title}}
          %i.icon-trash.pull-right{"ng-click" => "deletePhoto(photo)", "ng-hide" => "editMode"}

          -# Edit Mode On
          %input.span10{"ng-model" => "photo.title", "ng-required" => "", :placeholder => "Title", :type => "text", "ng-show" => "editMode"}
