.row-fluid
  %div{'ng-include' => "'" + asset_path('angular/templates/albums/_sidebar.html') + "'"}}

  .span10
    %h3 Photos from {{album.name}}

    %ul.thumbnails
      %li.span2{'ng-show' => "!photos.length"}
        You have no Photos in this Album
      %li.span2{'ng-repeat' => "photo in photos"}
        .thumbnail
          %img{'ng-src' => "{{photo.thumbnail_url}}", :class => "thumbnail"}
          -# Edit Mode Off
          %em{"ng-hide" => "photo.editing"} {{photo.title}}
          %i.icon-pencil{"ng-click" => "editPhoto(photo)", "ng-hide" => "photo.editing"}
          %i.icon-trash{"ng-click" => "deletePhoto(photo)"}

          -# Edit Mode On
          %span{"ng-show" => "photo.editing"}
            %input.span6{"ng-model" => "photo.title", "ng-required" => "", :placeholder => "Title", :type => "text"}
            %i.icon-ok{"ng-click" => "updatePhoto(photo)"}
            %i.icon-remove{"ng-click" => "cancelEditPhoto(photo)"}